
.container_m {
  position: relative;
  display: inline-block;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;


  /*max-width: 35.83333333em;
  margin: 10% auto;
  border-radius: 0.5em;
  background-color: #5cd6d2;*/
}
/*a {
  text-decoration: none;
  color: #ffffff;
}*/
/* Utility classes */
.reset-position {
  top: 0;
  left: 0;
}
.align-v {
  top: 50%;
  -webkit-transform: translateY(-50%);
}
.align-h {
  left: 50%;
  -webkit-transform: translateX(-50%);
}
.align-vh {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}
/* Main style */
.navigation_m:after {
  content: '';
  display: inline-block;
  clear: both;
}
.navigation_m li {
  list-style: none;
  float: left;
  display: inline-block;
  margin: 1em;
}
.navigation_m li a {
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 0.33333333em;
  line-height: 5em;
  position: relative;
  text-align: center;
  background-color: #2eb8b3;
  border: 0.08333333em solid #2baca7;
  overflow: hidden;
  z-index: 1;
}
.navigation_m li a i {
  display: inline-block;
  position: absolute;
  font-size: 1.66666667em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
}
.navigation_m li a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s 0.125s ease;
}
.navigation_m li a:hover.to.bottom i {
  -webkit-transform: translate(-50%, 5em);
}
.navigation_m li a:hover.to.top i {
  -webkit-transform: translate(-50%, -5em);
}
.navigation_m li a:hover.to.left i {
  -webkit-transform: translate(-5em, -50%);
}
.navigation_m li a:hover.to.right i {
  -webkit-transform: translate(5em, -50%);
}
.navigation_m li a:hover i {
  -webkit-transform: translate(-50%, 5em);
  color: rgba(255, 255, 255, 0.4);
}
.navigation_m li a:hover span {
  opacity: 1;
}


.navigation_m li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.navigation_m h1 {
    background-color: rgba(0,255,255,0.2);
    padding: 20px;
    display: inline-block;
    position: relative;
    top: 15px;
}
