{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
<head>
    <!-- <style>
       body{
            background-image: url('https://lh3.googleusercontent.com/CgQocnLtW3d9_vIGZLPnnMMq-csmQ6LCPgeIx7UlATBQ8-xuDs33a9FSxAJEiDlg6cdg4QK9C9RP6tV5fQ5Bdd8N21CTA5nAxi-w6EwIhDGfbULwx-EvSKeBIFu0l885FDqPY52awHe_bNsNyKMLQi3iYWS0LUKV8rv6pZjqTZj8qaL6u4j_29jaa7HNkjj2-OfyJheerhGW1xIl2x2N1O0hX2UwcKByUfE7aImCdtClSgMaggzoySRwmt3BYx0PEyK00dQgl5EBwXTlJFeu5ACRRdMt54BFJpNYG-4sR6ZXi3ijjrKPZu6fi8nuiduVWOwoBSUkKBHr4SoEyPengN52nH5rAEShsNYpAKG-i5DW3uJhTG844ZPwdOIktvmW063JP3gcUOAAABLJLPMD9qaVDvLZzW2ajcH4hIAONlXMW6Va87r0T7fOCaorB51-gUT-bULRpu_7BwSijVzZnDoaFgJAEZhXwWndVzy5g43Yvue6HbRs7gRuJbixweBtqkntCN0B0tJorFArCged_9CxWOhD6qXin3W8BfuQ57FwPxEMHKSxZvxKNauXquYfHAlssud_FwKAA0790aKQtUgYuGbwIpsq1CKLe21h1OQnsBSuxn8ZLst-p0zAxRJ9tYgJ92Dzbg4K5kwV0bykXPHjD-ShAP4=w423-h915-no');
            background-size: 100% 100%;
            height: 100vh;
            padding:0;
            margin:0;
        }

    </style>-->
    <title>--Ethan's Blog--</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/colorful.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" media="screen" type="text/css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"  type="text/css" />
    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <!--images-->
    <script type="text/javascript">
        function init(){
            setInterval(changeImg,2000);
        }
        var pathArr= new Array(
            "https://gallery.mailchimp.com/1e5cf04d4799beed605f2e945/images/5397da3e-62d1-4173-bbc8-d84993b82163.jpg",
            "https://gallery.mailchimp.com/1e5cf04d4799beed605f2e945/images/26d9174f-e55f-4884-bc64-657cd88c567c.jpg",
            "https://gallery.mailchimp.com/1e5cf04d4799beed605f2e945/images/354a3977-9923-455d-b91f-c63379b7cf11.jpg",
        );
        var index=0;

        function changeImg(){
            nextImg();
        }
        function preImg(){
            myimg=document.getElementById("myimg");
            index--;
            if(index<0){
                index=pathArr.length-1;
            }
            myimg.src= pathArr[index];
        }
        function nextImg(){
            myimg = document.getElementById("myimg");
            index++;
            if (index>=pathArr.length){
                index=0;
            }
            myimg.src= pathArr[index];
        }
    </script>

</head>
<body onload="init()">
<script src="{% static 'blog/js/canvas-nest.js' %}"></script>
<canvas id="c_n1"></canvas>

<div class="container">

      <div class="container_m">
          <ul class="navigation_m">
            <li>
                <a href="{% url 'blog:index' %}">
                    <i>Who?</i>
                    <span><b>Ethan!</b></span>
                </a>
            </li>
            <li>
                <a href="{% url 'blog:index' %}" class="to top">
                  <i class="fa fa-home"></i>
                  <span>Home</span>
                </a>
            </li>

            <li>
                <a href="{% url 'blog:index' %}" class="to left">
                  <i class="fa fa-pencil"></i>
                  <span>Journal</span>
                </a>
            </li>
            <li>
                <a href="{%url 'blog:contact'%}" class="to right">
                  <i class="fa fa-heart"></i>
                  <span>Contact</span>
                </a>
            </li>
          </ul>
        </div>
        <div id="header-search-box">
            <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
            <div id="search-form" class="search-form">
                <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                    <input type="search" name= "q" placeholder="Search" required>
                    <button type="submit"><span class="ion-ios-search-strong"></span></button>
                </form>
            </div>
        </div>
</div>


<div class="copyrights">Modified by <a href="120.78.122.131">Ethan</a></div>

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block main %}
                {% endblock main %}
            </main>
            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                  <h3 class="widget-title">Newest posts</h3>
                  {% get_recent_posts as recent_post_list %}
                  <ul>
                    {% for post in recent_post_list %}
                    <li>
                      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                    {% empty %}
                    No Post So Far！
                    {% endfor %}
                  </ul>
                </div>

                <div class="widget widget-archives">
                  <h3 class="widget-title">filing</h3>
                  {% archives as date_list %}
                  <ul>
                    {% for date in date_list %}
                    <li>
                      <a href="{% url 'blog:archives' date.year date.month %}">{{ date.year }} year {{ date.month }} month</a>
                    </li>
                    {% empty %}
                    No Filing！
                    {% endfor %}
                  </ul>
                </div>

                <div class="widget widget-category">
                  <h3 class="widget-title">Category</h3>
                  {% get_categories as category_list %}
                  <ul>
                    {% for category in category_list %}
                    <li>
                      <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
                    </li>
                    {% empty %}
                    No Classification
                    {% endfor %}
                  </ul>
                </div>

                <div class="widget widget-tag-cloud">
                  <h3 class="widget-title">Tags</h3>
                  {% get_tags as tag_list %}
                  <ul>
                    {% for tag in tag_list %}
                    <li>
                      <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    </li>
                    {% empty %}
                    No Tag！
                    {% endfor %}
                  </ul>
                </div>
                <div class="rss">
                  <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS Subscription</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2019 <a>Ethan's Blog</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">Home</a></li>
            <li><a href="{% url 'blog:index' %}">Blogs</a></li>
            <li><a href="{% url 'blog:index' %}">About</a></li>
            <li><a href="{% url 'blog:index' %}">Contact</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>
